<!DOCTYPE html>

<html lang="en">
<%= partial :head %>

<% tag :body, class: @page[:class] do %>
  <section id="content">
    <%= yield %>
  </section>
  <%= script asset_path('vendor.js') %>
  <%= script asset_path('templates.js') %>
  <%= script asset_path('application.js') %>
<% end %>
</html>
